body {
    /* padding: 0;
    margin: 0; */
    font-family: "Sora", sans-serif;
}

/* main section styles start here */
.container {
    max-width: 1280px;;
    margin: 0 auto;
    padding: 40px 0;
}
.icon-container {
    width: 24px;
    height: 24px;
    background: #F5C044;
    padding: 8px;
    border-radius: 50%;
}
.reviewer-icon {
    background: -webkit-linear-gradient(#fff, #F5C044);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2px;
}